/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
basics.sh
load.sh
package-lock.json
basics.sh
package.json
test/key.purs
.vscode/tasks.json
test/Testy.purs
test/Testy.purs
